@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 60% 40%;
  color: darkgoldenrod;
  height: 100%;
}

.title-container {
  justify-content: start;
  margin: auto;
  font-size: 800%;
  text-decoration: none;
  line-height: 160%;
  margin: -5% 15%;
  font-family: "Fredericka the Great", cursive;
}

.intro {
  justify-content: end;
  margin: 10% 25%;
  text-align: center;
}
