@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 60% 40%;
  color: darkgoldenrod;
  height: 100%;
}

.title-container {
  justify-content: start;
  margin: auto;
  font-size: 8vw;
  text-decoration: none;
  line-height: 160%;
  margin: 10%% 15%;
  font-family: "Fredericka the Great", cursive;
}

.intro {
  justify-content: end;
  margin: 10% 25%;
  text-align: center;
  font-size: 1vw;
}

@media (max-width: 1200px) {
  .home {
    top: -25%;
    display: grid;
    grid-template-columns: 1fr;

    color: darkgoldenrod;
  }

  .title-container {
    align-items: center;

    font-size: 13vw;
  }

  .intro {
    font-size: 4vw;
    margin: 10%;
    margin-bottom: 20%;
  }
}

@media (max-width: 700px) {
  .home {
    top: -50px;
    display: block;
    z-index: 10;
  }

  .title-container {
    align-items: center;

    font-size: 13vw;
  }

  .intro {
    font-size: 4vw;
    margin: 10%;
    margin-bottom: 20%;
  }
}
