.footer {
  text-align: center;
  color: darkgoldenrod;
  font-size: smaller;
  margin: auto;
  padding-bottom: 5px;
  justify-content: space-around;
}

a {
  color: inherit;
  text-decoration: inherit;

  a:visited {
    color: darkgoldenrod;
  }
}
