@import "~react-image-gallery/styles/scss/image-gallery.scss";

.Gallery {
  margin: 50px auto;
  max-width: 70%;
  height: 100%;
}

.title-paintings {
  justify-content: end;
  margin: 5% auto;
  text-align: center;
  color: darkgoldenrod;
}
