.footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  position: block;
  bottom: 0;
  left: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;

  a:visited {
    color: darkgoldenrod;
  }
}
